[Unit]
Description=heliadae-rc
Documentation=https://github.com/sshchicago/heliadae/

[Service]
ExecStart=/home/pi/heliadae/rc.py
User=pi
Group=pi
StandardOutput=journal
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=heliadae-rc.service
